apiVersion: apps/v1
kind: Deployment
metadata:
  name: workload
spec:
  selector:
    matchLabels:
      app: workload
  replicas: 1
  template:
    metadata:
      labels:
        app: workload
    spec:
      containers:
        - name: workload
          image: harbor2.csvcdev.vpc.arvato-systems.de/k8s-workshop/workload:2.0
          imagePullPolicy: Always
          resources:
            requests:
              memory: "50Mi"
            limits:
              memory: "100Mi"
